{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Hello World !</h1>
    {% for user in users %}
        <p>firstname</p>
        {{ user.firstname }} {{ user.lastname }}<br>

    {% endfor %}
{% endblock %}
