{% extends 'layout.html.twig' %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="index.html">Home</a>
                    <span>Connexion</span>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column justify-content-center">
                            <h2>Connexion</h2>

                            <form class="contact-form" method="post">

                                    <!-- Email input -->


                                        <input type="email" id="email" name="email" class="email" placeholder="email..." />
                                        {% if error.email is not empty %}
                                            <p style="color: red">{{ error['email'] }}</p>
                                        {% endif %}

                                    <input type="password" id="password" name="password" class="password" placeholder="Mot de passe"/>
                                    {% if error.password is not empty %}
                                        <p style="color: red">{{ error['password'] }}</p>
                                    {% endif %}

                                <button type="submit" class="btn btn-outline-warning btn-block mb-4">Sign in</button>
                            </form>




                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <div class="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </main>
{% endblock %}
