.athengray {
    color: #EEEEEF
}
.santasGray {
    color: #9198AF
}
.oslogray {
    color: #84878D
}
.greenhaze {
    color: #FFAA3C
}
.iron {
    color: #D7D8DA
}
.frenchgray {
    color: #BEC1C8
}
.boulder {
    color: #757575
}
