{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div id="site-content">
            <main class="main-content">
                <div class="container">
                    <div class="page">
                        <div class="breadcrumbs">
                            <span>Les films disponibles prochainement</span>
                        </div>
                        <div class="movie-list">
                        </div> <!-- .movie-list -->
                    </div>
                </div> <!-- .container -->
            </main>
        </div>
        <script src="/assets/availableMovies.js"></script>
    </div>
{% endblock %}
