{% extends 'layout.html.twig' %}

{% block content %}
    <main class="main-content text-center">
        <div class="container mt-3">
            <div class="page">
                <h1 h1 class="text-danger">La page n'existe pas !</h1>
            </div>
        </div>
    </main>
{% endblock %}
