<header class="site-header">
    <div class="container">
        <a href="index.html" id="branding">
            <img src="/assets/images/logo.png" alt="" class="logo">
            <div class="logo-copy">
                <h1 class="site-title">CINETECH</h1>
                <small class="site-description">Des films, des billets, un click!</small>
            </div>
        </a> <!-- #branding -->

        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item current-menu-item"><a href="/">Accueil</a></li>
                <li class="menu-item"><a href="/user/register">Inscription</a></li>
                <li class="menu-item"><a href="/user/login">Connexion</a></li>
                <li class="menu-item"><a href="/user/about">A propos</a></li>
                <li class="menu-item"><a href="/user/contact">Contact</a></li>
            </ul> <!-- .menu -->

            <form action="#" class="search-form">
                <input type="text" placeholder="Search...">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</header>
