<div class="container">
    <a href="index.html" id="branding">
        <img src="/assets/images/logo.png" alt="" class="logo">
        <div class="logo-copy">
            <h1 class="site-title">CINETECH</h1>
            <small class="site-description">Des films, des billets, un click!</small>
        </div>
    </a> <!-- #branding -->

    <div class="main-navigation">
        <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
        <ul class="menu">
            <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
            <li class="menu-item"><a href="about.html">About</a></li>
            <li class="menu-item"><a href="review.html">Movie reviews</a></li>
            <li class="menu-item"><a href="joinus.html">Join us</a></li>
            <li class="menu-item"><a href="contact.html">Contact</a></li>
        </ul> <!-- .menu -->

        <form action="#" class="search-form">
            <input type="text" placeholder="Search...">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div>



<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-5">
    <div class="container text-left">
        <img src="/assets/images/logo.png" alt="logo cinetech" href="#" />
        <div class="d-flex-column text-white">
        <p class="navbar-brand">CINETECH</p>
        <p>Des films, des billets, un click!</p>
        </div>
    </div>
    <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="btn bg-white rounded-left" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary bg-white rounded-0 px-4" href="/user/register">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary bg-white rounded-0 px-4" href="/user/login">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary bg-white rounded-0 px-4" href="/user/aboutus">About</a>
            </li>
        <li class="nav-item">
            <a class="btn btn-outline-secondary bg-white rounded-0 px-4" href="/user/contact">Contact</a>
        </li>
        <form class="d-flex" action="#" method="get">
            <button class="btn btn-outline-secondary btn-outline-secondary-cd rounded-right" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </ul>
</nav>
-->
